<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>회원 관리</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
<div class="container">
    <section>
        <table class="table table-bordered">
            <thread>
                <tr class="pb-3 pt-3">
                    <th scope="col" class="pb-4 pt-4 text-center text-bold" style="width: 50px;">아이디</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold" style="width: 50px;">이름</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold" style="width: 50px;">연차</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold" th:each="index : ${#numbers.sequence(1, 12)}" th:text="|${index}월|" style="width: 50px;"></th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold" style="width: 50px;">합계</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold" style="width: 50px;">잔여</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="list, index : ${allUser}" th:onclick="test([[${list.user_id}]])">
                <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_id}]]</td>
                <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_name}]]</td>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.total}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.jan}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.feb}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.mar}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.apr}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.may}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.jun}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.jul}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.aug}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.sept}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.oct}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.nov}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.dec}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.use}]]</th>
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.result}]]</th>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<script>
    function test(user){
        window.location.href = window.location.pathname + "/" + user;
    }
</script>
</body>
</html>