<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>회원 관리</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
<div class="container">
    <section>
        <table class="table">
            <thread>
                <tr class="pb-3 pt-3">
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">#</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">아이디</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">이름</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">1월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">2월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">3월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">4월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">5월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">6월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">7월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">8월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">9월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">10월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">11월</th>
                    <th scope="col" class="pb-4 pt-4 text-center text-bold">12월</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="list, index : ${allUser}" th:onclick="test([[${list.user_id}]])">
                <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${index.count}]]</th>
                <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_id}]]</td>
                <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_name}]]</td>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.jan}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.feb}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.mar}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.apr}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.may}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.jun}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.jul}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.aug}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.sept}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.oct}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.nov}]]</th>
                <th scope="col" class="pb-4 pt-4 text-center text-bold">[[${list.dec}]]</th>
            </tr>
            </tbody>
        </table>
    </section>
</div>
<script>
    function test(user){
        console.log('test = ' + user);
    }
</script>
</body>
</html>