<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>회원 연차 상세</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
<div class="container">
    <section>
        <table class="table table-bordered">
            <thread>
                <tr class="pb-3 pt-3">
                    <th scope="col" class="p-0 text-center text-bold" style="width: 50px;"></th>
                    <th scope="col" class="p-0 text-center text-bold" th:each="index : ${#numbers.sequence(1, 12)}" th:text="|${index}월|" style="width: 50px;"></th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="index : ${#numbers.sequence(1, 31)}">
                <th scope="row" class="p-0 text-center text-bold" th:text="|${index}일|"></th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('1') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('2') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('3') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('4') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('6') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('7') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('8') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('9') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('10') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('11') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
                <th scope="row" class="p-0 text-center text-bold" th:each="day : ${days}" th:if="${day.getMonth().equals('12') and day.getDay().equals(''+index)}">[[${day.getApplication_year}]]</th>
            </tr>
            </tbody>
        </table>
    </section>
</div>
</body>
</html>