<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>마이페이지</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <button type="button" onclick="popupCenter('/selectCurrentPwd', '비밀번호 변경', '500', '280')" class="btn btn-outline-success me-2" style="float: right; font-size: 15px; margin-bottom: 15px;">비밀번호 변경</button>
            <table class="table table-bordered">
                <thread>
                    <tr class="pb-3 pt-3">
                    	<th scope="col" class="pb-4 pt-4 text-center text-bold">상신일자</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">아이디</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">이름</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">사용연차</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">날짜</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">담당자</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">결정권자</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">취소</th>
                    </tr>
                </thread>
                <tbody>
                    <tr th:each="list : ${history}">
                    	<td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.request_date}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_id}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_name}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.application_year}]]일 / [[${list.time}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.start_date}]] ~ [[${list.end_date}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.appr_yn}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.appr_yn2}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom" th:if="${list.appr_yn.equals('N')}"><a href="javascript:void(0)" style="color: red;" th:name="${list.history_id}" th:onclick="deleteHistory(this)">취소</a></td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom" th:if="${list.appr_yn.equals('Y')}"></td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example" style="font-size: 16px">
                <ul class="pagination" style="justify-content: center;">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/mypage?page=1}" aria-label="Previous">
                            <span aria-hidden="true">처음</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/mypage?page={page} (page = ${pagination.prevBlock})}" aria-label="Previous">
                            <span aria-hidden="true">이전</span>
                        </a>
                    </li>
                    <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                        <li class="page-item"
                            th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                            th:each="pageButton : ${#numbers.sequence(start, end)}">
                            <a class="page-link" th:href="@{/mypage?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/mypage?page={page} (page = ${pagination.nextBlock})}" aria-label="Next">
                            <span aria-hidden="true">다음</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/mypage?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous">
                            <span aria-hidden="true">끝</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </div>
<script>
    function deleteHistory(id){
        fetch("/deleteHistory/"+id.name, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            body: {
            }
        }).then((response) => {
            if(!response.ok)
                throw response;
            alert("삭제가 완료되었습니다.");
            window.location.href="/mypage";
        }).catch(e => {
            console.log("에러 발생");
        });
    }

    /* 더블 모니터 윈도우 팝업 가운데 정렬 */
    function popupCenter(url, title, w, h, opts) {
       var _innerOpts = '';
       if(opts !== null && typeof opts === 'object' ){
           for (var p in opts ) {
               if (opts.hasOwnProperty(p)) {
                   _innerOpts += p + '=' + opts[p] + ',';
               }
           }
       }
       var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : screen.left;
       var dualScreenTop = window.screenTop != undefined ? window.screenTop : screen.top;

       var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
       var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

       var left = (((width / 2) - (w / 2)) + dualScreenLeft) - 100;
       var top = ((height / 2) - (h / 2)) + dualScreenTop;
       var newWindow = window.open(url, title, _innerOpts + ' width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

       if (window.focus) {
           newWindow.focus();
       }
    }
</script>
</body>
</html>