<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>마이페이지</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <table class="table">
                <thread>
                    <tr class="pb-3 pt-3">
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">#</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">아이디</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">이름</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">사용연차</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">날짜</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">승인여부</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">취소</th>
                    </tr>
                </thread>
                <tbody>
                    <tr th:each="list, index : ${history}">
                        <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${index.count}]]</th>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_id}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_name}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.application_year}]]일 / [[${list.time}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.start_date}]] ~ [[${list.end_date}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.appr_yn}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom" th:if="${list.appr_yn.equals('N')}"><a href="javascript:void(0)" style="color: red;" th:name="${list.history_id}" th:onclick="deleteHistory(this)">취소</a></td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom" th:if="${list.appr_yn.equals('Y')}"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
<script>
    function deleteHistory(id){
        fetch("/deleteHistory/"+id.name, {
            method: "DELETE",
            headers: {
                'Content-Type': 'application/json'
            },
            body: {
            }
        }).then((response) => {
            if(!response.ok)
                throw response;
            alert("삭제가 완료되었습니다.");
            window.location.href="/mypage";
        }).catch(e => {
            console.log("에러 발생");
        });
    }

</script>
</body>
</html>