<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>마이페이지</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <table class="table">
                <thread>
                    <tr class="pb-3 pt-3">
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">#</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">아이디</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">이름</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">사용연차</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">날짜</th>
                        <th scope="col" class="pb-4 pt-4 text-center text-bold">승인여부</th>
                    </tr>
                </thread>
                <tbody>
                    <tr th:each="list, index : ${history}">
                        <th scope="row" class="pb-4 pt-4 text-center table-custom">[[${index.count}]]</th>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_id}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.user_name}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.application_year}]] / [[${list.time}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.start_date}]] ~ [[${list.end_date}]]</td>
                        <td scope="row" class="pb-4 pt-4 text-center table-custom">[[${list.appr_yn}]]</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>