<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>전체 조회</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <div class="input-group mb-3">
                <p style="font-size: 16px; text-align: center; padding-top: 2px;">년도: &nbsp;</p>
                <select id="year" class="custom-select" style="font-size: 15px; width: 9%; text-align: center;">
                    <option value="">선택</option>
                    <option th:each="index : ${#numbers.sequence(2022, 2027)}" th:text="|${index}년|"
                            th:value="${index}" th:attr="selected=${searchParam.year} eq ${index} ? 'true' : 'false'"></option>
                </select>
                <p style="font-size: 16px; text-align: center; padding-top: 2px;">&nbsp; &nbsp;월: &nbsp;</p>
                <select id="month" class="custom-select" style="font-size: 15px; width: 7%; text-align: center;">
                    <option value="">선택</option>
                    <option th:each="index : ${#numbers.sequence(1, 12)}" th:text="|${index}월|"
                            th:value="${index}" th:attr="selected=${searchParam.month} eq ${index} ? 'true' : 'false'"></option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" style="font-size: 14px;" onclick="search(1);">검색</button>
                </div>
            </div>
            <div id="calendar"></div>
         	<!-- AAA --> 
         
        </section>
    </div>
	<script th:inline="javascript">
	
	
    document.addEventListener('DOMContentLoaded', function () {
        $(function () {
            var request = $.ajax({
                url: "/viewAnnual", // 변경하기
                method: "GET",
                dataType: "json"
            });

            request.done(function (data) {
                console.log(data); // log 로 데이터 찍어주기.

                var calendarEl = document.getElementById('calendar');

                var calendar = new FullCalendar.Calendar(calendarEl, {
                	googleCalendarApiKey : 'AIzaSyBm760wuxQTEuMXQoFshIoPyvr0_ZQVCcQ',
                	eventSources: [
                		{
                		//구글 캘린더 id
                		googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com'
                        , color: 'white'
                        , textColor: 'red'
                		},
                	],
                	locale: 'ko',
                	dayMaxEvents: true,
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                    },
                    
                    events: data
                });

                calendar.render();
            });

            request.fail(function( jqXHR, textStatus ) {
                alert( "Request failed: " + textStatus );
            });
        });

    });

	
	/*
	document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var gaOrderArrayArg = new Array();
        
        var orderDetailList = [[${list}]];
            var gaOrderGoodsinfo = new Object();
            
            orderDetailList.forEach(function(item){
                gaOrderGoodsinfo.id = item.user_name;
                gaOrderArrayArg.push(gaOrderGoodsinfo);
            });
        
        
        

        var calendar = new FullCalendar.Calendar(calendarEl, {
        	//공휴일(추석 등) 데이터를 구글 캘린더에서 호출
        	//구글 캘린더 api key
        	googleCalendarApiKey : 'AIzaSyBm760wuxQTEuMXQoFshIoPyvr0_ZQVCcQ',
        	eventSources: [
        		{
        		//구글 캘린더 id
        		googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com'
                , color: 'white'
                , textColor: 'red'
        		},
        	],
        	locale: 'ko'
        });
        calendar.render();
    });
	*/
	</script>
</body>
</html>