<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>전체 조회</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
    <style type="text/css">
    	.fc-button-active{
			border-color: #ffc107 		!important;
			background-color: #ffc107 	!important;
			color: #000 				!important;
			font-weight: bold 			!important;
		  }
		.fc-day-sat a{color:#0000FF;}
		.fc-day-sun a{color:#FF0000;}

    </style>
</head>
<body>
    <div class="container">
        <section>
            <div class="input-group mb-3">
                <p style="font-size: 16px; text-align: center; padding-top: 2px;">년도: &nbsp;</p>
                <select id="year" class="custom-select" style="font-size: 15px; width: 9%; text-align: center;">
                    <option value="">선택</option>
                    <option th:each="index : ${#numbers.sequence(2022, 2027)}" th:text="|${index}년|"
                            th:value="${index}" th:attr="selected=${searchParam.year} eq ${index} ? 'true' : 'false'"></option>
                </select>
                <p style="font-size: 16px; text-align: center; padding-top: 2px;">&nbsp; &nbsp;월: &nbsp;</p>
                <select id="month" class="custom-select" style="font-size: 15px; width: 7%; text-align: center;">
                    <option value="">선택</option>
                    <option th:each="index : ${#numbers.sequence(1, 12)}" th:text="|${index}월|"
                            th:value="${index}" th:attr="selected=${searchParam.month} eq ${index} ? 'true' : 'false'"></option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" style="font-size: 14px;" onclick="search(1);">검색</button>
                </div>
            </div>
            <div id="calendar"></div>
         	<!-- AAA --> 
         
        </section>
    </div>
	<script th:inline="javascript">
	
	function calendar(data) { // 데이터 조회(초기 데이터) 후
        console.log(data); // log 로 데이터 찍어주기.
        
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
        	// 구글 캘린더 연동 api 키, 회사 계정으로 키 발급받아서 사용하는게 좋음, 현재 개인 키
        	googleCalendarApiKey : 'AIzaSyBm760wuxQTEuMXQoFshIoPyvr0_ZQVCcQ',
        	eventSources: [
        		{
        		// 구글 캘린더 id, 한국 공휴일 포함된 캘린더
        		googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com'
                , color: 'white'
                , textColor: 'red'
        		},
        	],
        	// 언어 한국어
        	locale: 'ko',
        	// 달력 셀에 데이터 표출 수 제한, false일 경우 달력 셀 하단으로 영역 증가해서 보기 안좋음.
        	dayMaxEvents: true,
        	// 캘린더 상단에 생성할 툴바
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,listWeek'
            },
            // 캘린더 이벤트에 조회한 연차 데이터 기입
            events: data
        });
		// 캘린더 그리기
        calendar.destroy() & calendar.render();
    }
	
	//fullcalendar 영역
    document.addEventListener('DOMContentLoaded', function () {
    	$(function () {
	        var request = $.ajax({
		        url: "/viewAnnual", 
		        method: "GET",
		        dataType: "json"
	        })
	        request.done(function(data){
	        	calendar(data);
	        })
			request.fail(function( jqXHR, textStatus ) {
	            alert( "Request failed: " + textStatus );
			})
		});
    });
	
	function search() {
        let selectYear = document.querySelector('#year').value;
        let selectMonth = document.querySelector('#month').value;
        $(function () {
       		var request = $.ajax({
	        	url: "/viewAnnual",
	        	data:{year: selectYear, month: selectMonth},
	        	method: "GET",
	        	dataType: "json"
	        });
	        request.done(function(data){
	        	calendar(data);
	        })
	        request.fail(function(xhr, status, errorThrown){
	        	alert("Request Failed: " + errorThrown);
	        })
    	});
    }

	</script>
</body>
</html>