<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>전체 조회</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <div class="input-group mb-3">
                <p style="font-size: 16px; text-align: center; padding-top: 2px;">년도: &nbsp;</p>
                <select id="year" class="custom-select" style="font-size: 15px; width: 9%; text-align: center;">
                    <option value="">선택</option>
                    <option th:each="index : ${#numbers.sequence(2022, 2027)}" th:text="|${index}년|"
                            th:value="${index}" th:attr="selected=${searchParam.year} eq ${index} ? 'true' : 'false'"></option>
                </select>
                <p style="font-size: 16px; text-align: center; padding-top: 2px;">&nbsp; &nbsp;월: &nbsp;</p>
                <select id="month" class="custom-select" style="font-size: 15px; width: 7%; text-align: center;">
                    <option value="">선택</option>
                    <option th:each="index : ${#numbers.sequence(1, 12)}" th:text="|${index}월|"
                            th:value="${index}" th:attr="selected=${searchParam.month} eq ${index} ? 'true' : 'false'"></option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" style="font-size: 14px;" onclick="search(1);">검색</button>
                </div>
                <div class="type-position">
	                <span class="annual" style="text-align:center; margin-right:3px;">연차</span>
		            <span class="half" style="text-align:center; margin-right:3px;">반차</span>
		            <span class="floating" style="text-align:center; margin-right:3px;">대휴</span>
		            <span class="official" style="text-align:center; margin-right:3px;">공가</span>
	            </div>
            </div>
            <div id="calendar"></div>
         
        </section>
    </div>
	<script th:inline="javascript">
	
	// 데이터 조회(초기 데이터) 후
	const calendar = (data) => {
        let monthFix = document.querySelector('#month').value;
        let searchDate = '';
		
    	// 검색조건(연도,월)을 입력한 경우 검색조건 연도 월로 달력 세팅.(데이터 유뮤 상관없음 )
    	if(document.querySelector('#year').value != '' && document.querySelector('#month').value != ''){
    		monthFix = monthFix.padStart(2, '0');
    		searchDate = document.querySelector('#year').value + '-' + monthFix; 
        }
        else {
        	let today = new Date();
         	let year = today.getFullYear();
         	let month = ('0' + (today.getMonth() + 1)).slice(-2);
        	searchDate = year + '-' + month;
        }
    	
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
        	// 캘린더 높이 지정
        	height: 750,

        	// 구글 캘린더 연동 api 키, 회사 계정으로 키 발급받아서 사용하는게 좋음, 현재 개인 키
        	googleCalendarApiKey : 'AIzaSyBm760wuxQTEuMXQoFshIoPyvr0_ZQVCcQ',
        	eventSources: [
        		{
        		// 구글 캘린더 id, 한국 공휴일 포함된 캘린더
        		googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com'
                /* , display: 'background' */ 
                , color: 'white'
                , textColor: 'red'
        		},
        	],
        	//달력에서 주말(일요일, 토요일) 제거, dayGridMonth에 적용
        	/* hiddenDays: [0,6], */
        	//initialDate 미지정 시, 데이터 조회 후 render 진행시 표출되는 달력이 현재일자 기준으로 설정됨. 
        	initialDate: searchDate,
        	// 언어 한국어
        	locale: 'ko',
        	// 달력 셀에 이벤트(연차,반차)가 3개 이상일 경우 true로 설정 시, 초과 데이터는 +n more로 표기. false일 경우 이벤트 수만큼 표출
        	dayMaxEvents: true,
        	//view 옵션 지정. 세부 옵션은 fullcalendar 문서 참조.
        	views: {
        		dayGridMonth: { buttonText: '달력' },
				listDay: { buttonText: '일간' },
				listWeek: { buttonText: '주간' },
				listMonth: { buttonText: '월간' }
        	},
        	// 캘린더 상단에 생성할 툴바(<,>,today | YYYY년 MM월 | month, list)
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth listDay listWeek listMonth'
            },
            // 조회된 연차 데이터를 이벤트로 세팅
            events: data
        });
        
        calendar.destroy();
		calendar.render();
    }
	
	//달력페이지 최초 접근 시, 접속일자 연도 기준으로 연차데이터 조회 후 달력 render요청
    document.addEventListener('DOMContentLoaded', () => {
    	$(() => {
	        let request = $.ajax({
		        url: "/viewAnnual", 
		        method: "GET",
		        dataType: "json"
	        })
	        request.done((data) => {
	        	calendar(data);
	        })
			request.fail(( jqXHR, textStatus ) => {
	            alert( "Request failed: " + textStatus );
			})
		});
    });
	
	//header 하단의 검색조건으로 조회
	const search = () => {
        let selectYear = document.querySelector('#year').value;
        let selectMonth = document.querySelector('#month').value;
        
        if(selectYear != '' && selectMonth != ''){
        	$(() => {
           		let request = $.ajax({
    	        	url: "/viewAnnual",
    	        	data:{year: selectYear, month: selectMonth},
    	        	method: "GET",
    	        	dataType: "json"
    	        });
    	        request.done((data) => {
    	        	calendar(data);
    	        })
    	        request.fail((xhr, status, errorThrown) => {
    	        	alert("Request Failed: " + errorThrown);
    	        })
        	});
        } else{
        	alert("연도와 월을 설정해주세요.");
        	return false;
        }
	}

	</script>
</body>
</html>