<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="fragment-header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/annual.css}" rel="stylesheet">
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <link th:href="@{/css/register.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.datetimepicker.css}" rel="stylesheet">
    <script th:src="@{/js/jquery-3.2.1.js}"></script>
    <script th:src="@{/js/jquery.datetimepicker.full.min.js}"></script>
    <link th:href="@{/fullcalendar/main.css}" rel="stylesheet">
    <script th:src="@{/fullcalendar/main.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <div class="container">
        <div class="col-md-12 text-end">
            <div class="inline-block images float">
                <a th:href="@{/}">
                    <img src="/images/hncis.png">
                </a>
            </div>
            <div th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}" class="inline-block float m-lg-3">
                <a th:href="@{/selectAll}">전체 조회</a>
            </div>
            <div th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}" class="inline-block float m-lg-3">
                <a th:href="|@{/annualStatus(year = ${#dates.format(#calendars.createNow(), 'yyyy')})}|">연차</a>
            </div>
            <div th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}" class="inline-block float m-lg-3">
                <a th:href="@{/userManagement}">회원</a>
            </div>
            <div th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}" class="inline-block float m-lg-3">
                <a th:href="@{/viewCalendar}">달력</a>
            </div>
            <form th:action="@{/myPage}" method="get" class="inline-block">
                <span class="mb-3" th:text="|${user.user_name} ${user.responsibilities_of_office}|">로그인 사용자 이름</span>
                <button type="submit" class="btn btn-outline-primary me-2 myPage">마이페이지</button>
            </form>
            <form th:action="@{/logout}" method="post" class="inline-block">
                <button type="submit" class="btn btn-dark logout">로그아웃</button>
            </form>
        </div>
    </div>
</header>
</html>