@charset "utf-8";

.input_text3{margin-left:0px;padding:0 7px;width:20%;height:30px;font-size:1.2em;color:#666;border:1px solid #d5d5d5;background:#f9f9f9;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*line-height:28px;line-height:28px\9}

.sex input[type="radio"] {
    display: none;
}

.sex input[type="radio"] + span {
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    /*padding: 15px 10px;*/
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.sex input[type="radio"]:checked + span {
    background-color: #113a6b;
    color: #ffffff;
}

