<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>신청</title>
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <div class="sub_content">
                <div>
                    <div class='sub_header'>
                        <p class='title'>연차</p>
                    </div>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">기본정보</p>
                    <table class="sub_table">
                        <tr>
                            <th>사번</th>
                            <td><input type="text" id="user_id" class="input_text" th:value="${user.user_id}" readonly>
                            <th>이름</th>
                            <td><input type="text" id="user_name" class="input_text" th:value="${user.user_name}" readOnly></td>
                            <th>직급</th>
                            <td><input type="text" id="responsibilities_of_office" class="input_text" th:value="${user.responsibilities_of_office}" readOnly></td>
                            <th>부서</th>
                            <td><input type="text" id="department" class="input_text" th:value="${user.department}" readOnly></td>
                        </tr>
                        <tr>
                            <th>입사일자</th>
                            <td><input type="text" id="start_year" class="input_text" th:value="${user.start_year}" readOnly></td>
                            <th>생년월일</th>
                            <td><input type="text" id="birthday" class="input_text" th:value="${user.birthday}" readOnly></td>
                            <th>성별</th>
                            <td><input type="text" id="sex" class="input_text" th:value="${user.sex}" readOnly></td>
                            <th>연락처</th>
                            <td><input type="text" id="user_number" class="input_text" th:value="${user.user_number}" readOnly></td>
                        </tr>
                    </table>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">연차현황</p>
                    <table class="sub_table">
                        <tr>
                            <th>차수/남은일수</th>
                            <td>
                                <p>
                                    <span>전체연차&nbsp;&nbsp;</span><input type="text" id="total_annual" class="input_text2" th:value="${annual.total_annual}" readOnly/>
                                    <span>사용연차&nbsp;&nbsp;</span><input type="text" id="use_annual" class="input_text2" th:value="${annual.use_annual}" readOnly/>
                                    <span>잔여연차&nbsp;&nbsp;</span><input type="text" id="save_annual" class="input_text2" th:value="${annual.total_annual} - ${annual.use_annual}" readOnly/>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">연차/반차</p>
                    <label class="year">
                        <input type="radio" name="years" value="year" th:onclick="yearChecked()" checked>
                        <span>연차</span>
                    </label>
                    <label class="year">
                        <input type="radio" name="years" value="half-year" th:onclick="yearChecked()">
                        <span>반차</span>
                    </label>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">신청정보</p>
                    <table class="sub_table">
                        <tr id="putIn">
                            <th>신청연차</th>
                            <td>
                                <p>
                                    <input type="text" id="application_year" class="input_text2" readonly/>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>기간</th>
                            <td>
                                <p>
                                    <input type="text" value="" id="start_date" readonly="readonly" class="input_text3" th:onchange="removeClass(this)"/>
                                    <span id="tilde">~</span>
                                    <input type="text" value="" id="end_date" readonly="readonly" class="input_text3" th:onchange="removeClass(this)"/>
                                    <label id="label_hidden" hidden>
                                        <label class="time" hidden>
                                            <input type="radio" name="time" id="def" value="연차" checked>
                                            <span>연차</span>
                                        </label>
                                        <label class="time">
                                            <input type="radio" name="time" id="am" value="오전">
                                            <span>오전</span>
                                        </label>
                                        <label class="time">
                                            <input type="radio" name="time" id="pm" value="오후">
                                            <span>오후</span>
                                        </label>
                                    </label>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>사유</th>
                            <td>
                                <textarea rows="8" id="reason" class="input_text" th:onchange="removeClass(this)"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class='sub_btn_menu'>
                    <ul>
                        <a href="javascript:void(0)" class='btn_line btn_gray' th:onclick="application()">신청</a>
                    </ul>
                </div>
            </div>
        </section>
    </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    function yearChecked() {
        if (getValue('input[name="years"]:checked') === 'year') {
            document.getElementById('putIn').hidden = false;
            document.getElementById('tilde').hidden = false;
            document.getElementById('end_date').hidden = false;
            document.getElementById('label_hidden').hidden = true;
            document.getElementById('def').checked = true;
        }
        else {
            document.getElementById('putIn').hidden = true;
            document.getElementById('tilde').hidden = true;
            document.getElementById('end_date').hidden = true;
            document.getElementById('label_hidden').hidden = false;
            document.getElementById('am').checked = true;
        }
    }

    function removeClass(obj){
        obj.classList.remove("field-error");
        let result = new Date(Date.parse(getValue("#end_date")) - Date.parse(getValue("#start_date"))).getDate();
        if(isNaN(result))
            document.querySelector('#application_year').value = 0;
        else
            document.querySelector('#application_year').value = result;
    }

    function application() {

        if(paramChecked())
            return;

        if(parseFloat(getValue('#application_year')) > parseFloat(getValue('#save_annual'))) {
            alert('연차가 부족합니다');
            return;
        }

        if(getValue('input[name="years"]:checked') != null) {
            if(parseFloat(getValue('#save_annual')) < 0.5) {
                alert('연차가 부족합니다');
                return;
            }
        }

        let params = {
            "user_id" : getValue("#user_id"),
            "user_name" : getValue("#user_name"),
            "responsibilities_of_office" : getValue("#responsibilities_of_office"),
            "department" : getValue("#department"),
            "start_year" : getValue("#start_year"),
            "birthday" : getValue("#birthday"),
            "sex" : getValue("#sex"),
            "user_number" : getValue("#user_number"),
            "total_annual" : getValue("#total_annual"),
            "use_annual" : getValue("#use_annual"),
            "application_year": getValue("#application_year"),
            "start_date": getValue("#start_date"),
            "end_date": getValue("#end_date"),
            "time" : getValue('input[name="time"]:checked'),
            "reason" : getValue("#reason"),
            "appr_yn" : "N",
            "appr_yn2" : "N"
        };

       fetch("/application", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(params)
        }).then((response) => {
            if(!response.ok)
                throw response;
            alert("신청이 완료되었습니다.");
            window.location.href="/myPage";
        }).catch(e => {
            e.json().then(msg => {
                for (let i = 0; i < msg.errors.length; i++) {
                    document.querySelector("#"+msg.errors[i].field).className += ' field-error';
                }
            });
        });
    }

    function paramChecked() {
        if (getValue('input[name="years"]:checked') === 'half-year') {
            document.querySelector('#application_year').value = "0.5";
            document.querySelector("#end_date").value = getValue("#start_date");
        }

        if (isNaN(getValue("#application_year"))) {
            document.querySelector("#application_year").className += ' field-error';
            return true;
        } else if (getValue("#start_date") > getValue("#end_date")) {
            document.querySelector("#start_date").className += ' field-error';
            document.querySelector("#end_date").className += ' field-error';
            return true;
        }
        return false;
    }

    const getValue = (parameter) => {
        return document.querySelector(parameter).value;
    }

    jQuery.datetimepicker.setLocale('ko');
    $('#start_date').datetimepicker({
        timepicker: false,
        minDate: new Date(),
        format: 'Y-m-d'
    });
    $('#end_date').datetimepicker({
        timepicker: false,
        minDate: new Date(),
        format: 'Y-m-d'
    });
</script>
</body>
</html>