<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>신청</title>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div class="container">
        <section>
            <div class="sub_content">
                <div>
                    <div class='sub_header'>
                        <p class='title'>연차 신청</p>
                    </div>
                </div>
                <br>
                <div class='sub_btn_menu' style="margin: 0 0 15px 0;">
                    <ul>
                        <a th:href="@{/}" class='btn_line btn_gray' style="float: left;">연차 신청</a>
                    </ul>
                    <ul>
                        <a th:href="@{/annualList}" class='btn_line btn_gray' style="float: left;">연차 신청 리스트</a>
                    </ul>
                </div>
                <div class="sub_panel_box" th:object="${user}">
                    <p class="sub_title">기본정보</p>
                    <table class="sub_table">
                        <tr>
                            <th>사번</th>
                            <td><input type="text" class="input_text" th:field="*{user_id}" readonly>
                            <th>이름</th>
                            <td><input type="text" class="input_text" th:field="*{user_name}" readOnly></td>
                            <th>직급</th>
                            <td><input type="text" class="input_text" th:field="*{responsibilities_of_office}" readOnly></td>
                            <th>부서</th>
                            <td><input type="text" class="input_text" th:field="*{department}" readOnly></td>
                        </tr>
                        <tr>
                            <th>입사일자</th>
                            <td><input type="text" class="input_text" th:field="*{start_year}" readOnly></td>
                            <th>생년월일</th>
                            <td><input type="text" class="input_text" th:field="*{birthday}" readOnly></td>
                            <th>성별</th>
                            <td th:if="${user.sex == 'M'}"><input type="text" class="input_text" th:id="sex" th:name="${user.sex}" th:value="남" readOnly></td>
                            <td th:if="${user.sex == 'F'}"><input type="text" class="input_text" th:id="sex" th:name="${user.sex}" th:value="여" readOnly></td>
                            <th>연락처</th>
                            <td><input type="text" class="input_text" th:field="*{user_number}" readOnly></td>
                        </tr>
                        <tr>
                            <th>이메일</th>
                            <td><input type="text" class="input_text" th:field="*{email}" readOnly></td>
                            <th>주소</th>
                            <td colspan="5"><input type="text" class="input_text" th:field="*{user_address}" readOnly></td>
                        </tr>
                    </table>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">연차현황</p>
                    <table class="sub_table">
                        <tr>
                            <th>차수/남은일수</th>
                            <td>
                                <p>
                                    <span>전체연차&nbsp;&nbsp;</span><input type="text" id="total_annual" class="input_text2" th:value="${annual.total_annual}" readOnly/>
                                    <span>사용연차&nbsp;&nbsp;</span><input type="text" id="use_annual" class="input_text2" th:value="${annual.use_annual}" readOnly/>
                                    <span>잔여연차&nbsp;&nbsp;</span><input type="text" id="save_annual" class="input_text2" th:value="${annual.total_annual} - ${annual.use_annual}" readOnly/>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">연차/반차</p>
                    <label class="year">
                        <input type="radio" name="years" value="year" th:onclick="yearChecked()" checked>
                        <span>연차</span>
                    </label>
                    <label class="year">
                        <input type="radio" name="years" value="half-year" th:onclick="yearChecked()">
                        <span>반차</span>
                    </label>
                </div>
                <div class="sub_panel_box">
                    <p class="sub_title">신청정보</p>
                    <table class="sub_table">
                        <tr id="putIn">
                            <th>신청연차</th>
                            <td colspan="3">
                                <p>
                                    <input type="text" id="application_year" class="input_text2" readonly/>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th style="padding-right: 35px;">기간</th>
                            <td>
                                <p>
                                    <input type="text" value="" id="start_date" readonly="readonly" class="input_text3" style="background-color: white;" th:onchange="removeClass(this)"/>
                                    <span id="tilde">~</span>
                                    <input type="text" value="" id="end_date" readonly="readonly" class="input_text3" style="background-color: white;" th:onchange="removeClass(this)"/>
                                    <label id="label_hidden" hidden>
                                        <label class="time" hidden>
                                            <input type="radio" name="time" id="def" value="연차" checked>
                                            <span>연차</span>
                                        </label>
                                        <label class="time">
                                            <input type="radio" name="time" id="am" value="오전">
                                            <span>오전</span>
                                        </label>
                                        <label class="time">
                                            <input type="radio" name="time" id="pm" value="오후">
                                            <span>오후</span>
                                        </label>
                                    </label>
                                </p>
                            </td>
                            <td style="font-size: 15px;">
                                <label class="holiday">
                                    <input type="checkbox" id="holiday1" name="holiday" value="공가" onclick="noMultiChk(this)"> 공가
                                </label>
                            </td>
                            <td style="font-size: 15px;">
                                <label class="holiday">
                                    <input type="checkbox" id="holiday2" name="holiday" value="대휴" onclick="noMultiChk(this)"> 대체 휴가
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <th>사유</th>
                            <td colspan="3">
                                <input type="text" id="reason" class="input_text" style="background-color: white;" th:onkeydown="removeClass(this)"></textarea>
                            </td>
                        </tr>
                        <tr class="uploadFile" style="display: none;">
                            <th style="padding-bottom: 15px;">첨부파일</th>
                            <td style="font-size: 13px;" colspan="3"><input type="file" name="uploadFile" id="uploadFile" accept=".pdf, image/*" multiple="multiple"></td>
                        </tr>
                    </table>
                </div>
                <div class='sub_btn_menu'>
                    <ul>
                        <a href="javascript:void(0)" class='btn_line btn_gray' th:onclick="application()">신청</a>
                    </ul>
                </div>
            </div>
            <div class="spinner-border loading" role="status">
                <span class="visually-hidden"></span>
            </div>
        </section>
    </div>
<script th:inline="javascript">
    const yearChecked = () => {
        if (getValue('input[name="years"]:checked') === 'year') {
            getId('#putIn').hidden = false;
            getId('#tilde').hidden = false;
            getId('#end_date').hidden = false;
            getId('#label_hidden').hidden = true;
            getId('#def').checked = true;
        } else {
            getId('#putIn').hidden = true;
            getId('#tilde').hidden = true;
            getId('#end_date').hidden = true;
            getId('#label_hidden').hidden = false;
            getId('#am').checked = true;
        }
    }

    const removeClass = obj => {
        obj.classList.remove("field-error");
        document.querySelector("#application_year").classList.remove('field-error');

        let start_date = getValue('#start_date');
        let end_date = getValue('#end_date');

        let count = 0;
        let holidays = [[${holidays}]];
        let curDate = new Date(start_date);

        while(curDate <= new Date(end_date)) {
            if(curDate.getDay()===0 || curDate.getDay()===6)
                count++;
            else {
                holidays.forEach((item) => {
                    if((curDate.toISOString().split("T")[0].replaceAll('-','') === item.locdate)&&(item.isHoliday === "Y"))
                        count++;
                });
            }
            curDate.setDate(curDate.getDate() + 1);
        }

        let day = Date.parse(end_date) - Date.parse(start_date);
        let result = 0;

        if(day>=0)
            result = new Date(day).getDate() - count;

        if(isNaN(result))
            setValue('#application_year', 0);
        else
            setValue('#application_year', result);
    }

    const application = async () => {
        if(confirm("신청하시겠습니까?")) {
            if(paramChecked())
                return;

            if(document.querySelector('input[name="holiday"]:checked') == null) {
                if(parseFloat(getValue('#application_year')) > parseFloat(getValue('#save_annual'))) {
                    alert('연차가 부족합니다');
                    return;
                }

                if(getValue('input[name="years"]:checked') != null) {
                    if(parseFloat(getValue('#save_annual')) < 0.5) {
                        alert('연차가 부족합니다');
                        return;
                    }
                }
            }

            loadingShow();

            let formData = new FormData();
            let holiday = "";
            let file = getId('#uploadFile');

            if(getId('#holiday1').checked == true || getId('#holiday2').checked == true) {
                holiday = getValue('input[name="holiday"]:checked');
            }

            formData.append('user_id', getValue("#user_id"));
            formData.append('user_name', getValue("#user_name"));
            formData.append('responsibilities_of_office', getValue("#responsibilities_of_office"));
            formData.append('department', getValue("#department"));
            formData.append('start_year', getValue("#start_year"));
            formData.append('birthday', getValue("#birthday"));
            formData.append('sex', getId("#sex").name);
            formData.append('user_number', getValue("#user_number"));
            formData.append('total_annual', getValue("#total_annual"));
            formData.append('use_annual', getValue("#use_annual"));
            formData.append('application_year', getValue("#application_year"));
            formData.append('start_date', getValue("#start_date"));
            formData.append('end_date', getValue("#end_date"));
            formData.append('reason', getValue("#reason"));
            formData.append('time', getValue('input[name="time"]:checked'));
            formData.append('appr_yn', 'N');
            formData.append('appr_yn2', 'N');
            formData.append('holiday', holiday);

            for(let i = 0; i < file.files.length; i++) {
                formData.append('uploadFiles', file.files[i]);
            }

            await fetch("/application", {
                method: "POST",
                body: formData
            }).then((response) => {
                if(!response.ok)
                    throw response;
                alert("신청이 완료되었습니다.");
                window.location.href="/myPage";
            }).catch(e => {
                e.json().then(msg => {
                    for (let i = 0; i < msg.errors.length; i++) {
                        document.querySelector("#"+msg.errors[i].field).className += ' field-error';
                    }
                });
            });
            loadingHide();
        } else {
            return;
        }
    }

    const paramChecked = () => {
        if (getValue('input[name="years"]:checked') === 'half-year') {
            setValue('#application_year', "0.5");
            setValue("#end_date", getValue("#start_date"));
        }

        if (isNaN(getValue("#application_year")) || getValue("#application_year") == "0") {
            document.querySelector("#application_year").className += ' field-error';
            return true;
        } else if (getValue("#start_date") > getValue("#end_date")) {
            document.querySelector("#start_date").className += ' field-error';
            document.querySelector("#end_date").className += ' field-error';
            return true;
        }
        return false;
    }

    jQuery.datetimepicker.setLocale('ko');
    $('#start_date').datetimepicker({
        timepicker: false,
        minDate: new Date(),
        format: 'Y-m-d',
        disabledWeekDays :[0, 6]
    });
    $('#end_date').datetimepicker({
        timepicker: false,
        minDate: new Date(),
        format: 'Y-m-d',
        disabledWeekDays :[0, 6]
    });

    let holiday1 = getId('#holiday1');
    let holiday2 = getId('#holiday2');
    let uploadFile = document.querySelector('.uploadFile');

    holiday1.onclick = () => {
        uploadFile.style.display = '';
        holiday2.checked = false;

        if(holiday1.checked == false) {
            uploadFile.style.display = 'none';
        }
    }

    holiday2.onclick = () => {
        uploadFile.style.display = 'none';
        setValue('#uploadFile', '');
        holiday1.checked = false;
    }
</script>
</body>
</html>