<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>증명서</title>
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>
<body>
<div class="container">
    <section>
        <div class="sub_content" th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')} or ${user.user_id.equals(userInfo.user_id)}">
            <div>
                <div class='sub_header'>
                    <p class='title'>재직증명서 신청</p>
                </div>
                <br>
                <div class='sub_btn_menu' style="margin: 0 0 15px 0;">
                    <ul>
                        <a th:href="|@{/certificateList}|" class='btn_line btn_gray' style="float: left;">증명서 신청 리스트</a>
                    </ul>
                    <ul>
                        <a th:href="|@{/applyCertificate/{user}(user=${user.user_id})}|" class='btn_line btn_gray' style="float: left;">재직증명서 신청</a>
                    </ul>
                    <ul th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}">
                        <a th:href="|@{/applyCertificateEn/{user}(user=${user.user_id})}|" class='btn_line btn_gray' style="float: left;">재직증명서(영문) 신청</a>
                    </ul>
                    <ul th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}">
                        <a th:href="|@{/applyCareerCertificate/{user}(user=${user.user_id})}|" class='btn_line btn_gray' style="float: left;">경력증명서 신청</a>
                    </ul>
                </div>
                <div>
                    <input type="hidden" id="user_id">
                    <input type="hidden" id="user_address">
                    <input type="hidden" id="department" value="주식회사 TEST">
                    <input type="hidden" id="responsibilities_of_office">
                    <input type="hidden" id="user_name">
                    <input type="hidden" id="identification_no_front">
                    <input type="hidden" id="identification_no_back">
                    <input type="hidden" id="start_year">
                    <input type="hidden" id="purpose">
                    <input type="hidden" id="note">
                    <input type="hidden" id="type">
                    <input type="hidden" id="apply_date">
                    <input type="hidden" id="status_code">

                    <div class="sub_panel_box">
                        <table>
                            <tr>
                                <td>
                                    <span class="sub_title prev">미리보기</span>
                                    <div id="certificate_preview" class="certificate_preview">
                                        <span id="prev_doc_no">제　<span id="fake_doc_no"></span>　호</span>
                                        <br>
                                        <div id="prev_type">재직증명서</div>
                                        <br>
                                        <table id="prev_table">
                                            <tr>
                                                <th>사　　　　번</th>
                                                <td><span id="prev_user_id"></span></td>
                                            </tr>
                                            <tr>
                                                <th>주　　　　소</th>
                                                <td><span id="prev_user_address"></span></td>
                                            </tr>
                                            <tr>
                                                <th>소　　　　속</th>
                                                <td><span id="prev_department"></span></td>
                                            </tr>
                                            <tr>
                                                <th>직　　　　책</th>
                                                <td><span id="prev_responsibilities_of_office"></span></td>
                                            </tr>
                                            <tr>
                                                <th>성　　　　명</th>
                                                <td><span id="prev_user_name"></span></td>
                                            </tr>
                                            <tr>
                                                <th>주민등록번호</th>
                                                <td><span id="prev_identification_no"></span></td>
                                            </tr>
                                            <tr>
                                                <th>입 사　 일 자</th>
                                                <td><span id="prev_start_year"></span></td>
                                            </tr>
                                            <tr>
                                                <th>용　　　　도</th>
                                                <td><span id="prev_purpose"></span></td>
                                            </tr>
                                            <tr>
                                                <td id="prev_foot" colspan="2">
                                                    <div id="prev_type_text">상기인은 당사의 재직자임을 증명함.</div>
                                                    <br>
                                                    <div id="prev_date_yyyymmdd"></div>
                                                    <br>
                                                    <div id="prev_company_signature">
                                                        <div id="prev_company_signature1">주식회사　TEST</div>
                                                        <div id="prev_company_signature2">대표이사　홍　길　동</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td class="input_info" th:object="${userInfo}">
                                    <p class="sub_title">기본정보</p>
                                    <table class="sub_table">
                                        <colgroup>
                                            <col style="width:120px;" />
                                            <col style="width:330px;" />
                                        </colgroup>
                                        <tr>
                                            <th>사번</th>
                                            <td><input type="text" id="input_user_id" class="input_text" th:field="*{user_id}" readOnly>
                                                <input type="hidden" id="user_id_temp"></td>
                                        </tr>
                                        <tr>
                                            <th>주소</th>
                                            <td><input type="text" id="input_user_address" class="input_text" th:field="*{user_address}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>소속</th>
                                            <td><input type="text" id="input_department" class="input_text" value="주식회사 TEST" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>직급</th>
                                            <td><input type="text" id="input_responsibilities_of_office" class="disabled input_text" th:field="*{responsibilities_of_office}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>성명</th>
                                            <td><input type="text" id="input_user_name" class="disabled input_text" th:field="*{user_name}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>입사일자</th>
                                            <td>
                                                <input type="text" id="input_start_year" name="start_year" class="disabled input_text" th:field="*{start_year}" readOnly/>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <p class="sub_title">입력정보</p>
                                    <table class="sub_table">
                                        <colgroup>
                                            <col style="width:120px;" />
                                            <col style="width:330px;" />
                                        </colgroup>
                                        <tr>
                                            <th>주민등록번호</th>
                                            <td>
                                                <input type="hidden" id="input_birthday" th:field="*{birthday}">
                                                <input type="text" id="input_identification_no_front" class="input_text" style="width: 49%" readOnly>-
                                                <input type="password" id="input_identification_no_back" class="input_text" style="width: 49%">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>용도</th>
                                            <td>
                                                <input type="text" id="input_purpose" style="width:100%;" class="req-data input_text"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="multi_td">비고</th>
                                            <td class="multi_td">
                                                <textarea id="input_note" name="note" class="sub_textarea input_text" rows="8" cols="0"></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                    <span id="save" class="btn_save">저장</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    getId('#save').onclick = () => {
        insert();
    }
    getId("#input_purpose").onkeyup = () => {
        getId("#prev_purpose").innerText = this.value;
    }
    getId("#input_identification_no_back").onkeyup = () => {
        const temp = blindNumber(this.value);
        getId("#input_identification_no_back").value = getId("#input_identification_no_back").value.replace(/[^0-9]/g, '');
        getId("#input_identification_no_back").value = getId("#input_identification_no_back").value.substring(0, 7);
        getId("#prev_identification_no").innerText = getId("#input_identification_no_front").value + '-' + temp;
    }
    getId('#input_identification_no_front').value = setYYMMDD(getValue('#input_birthday'));
    getId("#fake_doc_no").innerText = setYYMMDD(getToday()) + ' - 000';
    getId("#prev_user_id").innerText = getValue("#input_user_id");
    getId("#prev_user_address").innerText = getValue("#input_user_address");
    getId("#prev_department").innerText = getValue("#input_department");
    getId("#prev_responsibilities_of_office").innerText = getValue("#input_responsibilities_of_office");
    getId("#prev_user_name").innerText = getValue("#input_user_name");
    getId("#prev_identification_no").innerText = getValue("#input_identification_no_front");
    getId("#prev_start_year").innerText = setYYYYMMDD(getValue("#input_start_year"));
    getId("#prev_date_yyyymmdd").innerText = setYYYYMMDD(getToday());

    const insert = () => {
        let formData = new FormData();
        formData.append('user_id', getInnerText("#prev_user_id"));
        formData.append('user_address', getInnerText("#prev_user_address"));
        formData.append('department', getInnerText("#prev_department"));
        formData.append('responsibilities_of_office', getInnerText("#prev_responsibilities_of_office"));
        formData.append('user_name', getInnerText("#prev_user_name"));
        formData.append('identification_no_front', setYYMMDD(getValue('#input_birthday')));
        formData.append('identification_no_back', getValue("#input_identification_no_back"));
        formData.append('start_year', setYYMMDD(getValue("#input_start_year")));
        formData.append('purpose', getInnerText("#prev_purpose"));
        formData.append('note', getValue("#input_note"));
        formData.append('type', '재직증명서');
        formData.append('status_code', '0');
        formData.append('apply_date', setYYMMDD(getToday()));

        if(confirm("신청 하시겠습니까?")) {
            fetch("/apply", {
                method: "POST",
                body: formData
            }).then((response) => {
                if(!response.ok)
                    throw response;
                window.location.href="/certificateList";
            }).catch(e => {
                e.json().then(msg => {
                    for (let i = 0; i < msg.errors.length; i++) {
                        document.querySelector("#"+msg.errors[i].field).className += ' field-error';
                    }
                });
            });
        } else {
            return;
        }
    }
</script>
</body>
</html>