<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>증명서</title>
    <div th:replace="fragments/header.html :: fragment-header"></div>
    <script type = "text/javascript" th:src = "@{/js/nanummyeongjo.js}"></script>
    <script type = "text/javascript" th:src = "@{/js/jspdf.js}"></script>
    <script type = "text/javascript" th:src = "@{/js/autotable.js}"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
</head>
<body>
<div class="container">
    <section>
        <div class="sub_content" th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')} or ${user.user_id.equals(docInfo.user_id)}">
            <div>
                <div class='sub_header'>
                    <p class='title'>재직증명서 조회</p>
                </div>
                <br>
                <div class='sub_btn_menu' style="margin: 0 0 15px 0;">
                    <ul>
                        <a th:href="|@{/certificateList}|" class='btn_line btn_gray' style="float: left;">증명서 신청 리스트</a>
                    </ul>
                    <ul>
                        <a th:href="|@{/applyCertificate/{user}(user=${user.user_id})}|" class='btn_line btn_gray' style="float: left;">재직증명서 신청</a>
                    </ul>
                    <ul th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}">
                        <a th:href="|@{/applyCertificateEn/{user}(user=${user.user_id})}|" class='btn_line btn_gray' style="float: left;">재직증명서(영문) 신청</a>
                    </ul>
                    <ul th:if="${user.auth.equals('admin')} or ${user.auth.equals('manager')}">
                        <a th:href="|@{/applyCareerCertificate/{user}(user=${user.user_id})}|" class='btn_line btn_gray' style="float: left;">경력증명서 신청</a>
                    </ul>
                </div>
                <div>
                    <input type="hidden" id="user_id">
                    <input type="hidden" id="user_address">
                    <input type="hidden" id="department" value="주식회사 TEST">
                    <input type="hidden" id="responsibilities_of_office">
                    <input type="hidden" id="user_name">
                    <input type="hidden" id="identification_no_front">
                    <input type="hidden" id="identification_no_back">
                    <input type="hidden" id="start_year">
                    <input type="hidden" id="purpose">
                    <input type="hidden" id="note">
                    <input type="hidden" id="type">
                    <input type="hidden" id="apply_date" th:value="${docInfo.apply_date}">

                    <input type="hidden" id="doc_no">
                    <input type="hidden" id="status_code">

                    <div class="sub_panel_box">
                        <table>
                            <tr>
                                <td>
                                    <span class="sub_title prev">미리보기</span>
                                    <span th:if="${docInfo.status_code.equals('1')}" id="toPDF" class="btn_pdf">
                    <a class="btn_pdf_a" th:onclick="savePDF(this)" th:name="${docInfo.doc_no}" href="javascript:void(0)"> PDF 파일로 저장 </a>
                  </span>
                                    <div id="certificate_preview" class="certificate_preview">
                                        <span id="prev_doc_no">제　<span id="real_doc_no" th:text="${docInfo.doc_no}"></span>　호</span>
                                        <br>
                                        <div id="prev_type">재직증명서</div>
                                        <br>
                                        <table id="prev_table">
                                            <tr>
                                                <th>사　　　　번</th>
                                                <td><span id="prev_user_id"></span></td>
                                            </tr>
                                            <tr>
                                                <th>주　　　　소</th>
                                                <td><span id="prev_user_address"></span></td>
                                            </tr>
                                            <tr>
                                                <th>소　　　　속</th>
                                                <td><span id="prev_department"></span></td>
                                            </tr>
                                            <tr>
                                                <th>직　　　　책</th>
                                                <td><span id="prev_responsibilities_of_office"></span></td>
                                            </tr>
                                            <tr>
                                                <th>성　　　　명</th>
                                                <td><span id="prev_user_name"></span></td>
                                            </tr>
                                            <tr>
                                                <th>주민등록번호</th>
                                                <td><span id="prev_identification_no"></span></td>
                                            </tr>
                                            <tr>
                                                <th>입 사　 일 자</th>
                                                <td><span id="prev_start_year"></span></td>
                                            </tr>
                                            <tr>
                                                <th>용　　　　도</th>
                                                <td><span id="prev_purpose"></span></td>
                                            </tr>
                                            <tr>
                                                <td id="prev_foot" colspan="2">
                                                    <div id="prev_type_text">상기인은 당사의 재직자임을 증명함.</div>
                                                    <br>
                                                    <div id="prev_date_yyyymmdd"></div>
                                                    <br>
                                                    <div id="prev_company_signature">
                                                        <div id="prev_company_signature1">주 식 회 사　TEST</div>
                                                        <div id="prev_company_signature2">대 표 이 사　홍　길　동</div>
                                                        <span id="prev_company_seal" style="display:none" th:if="${docInfo.status_code.equals('1')}">
                                                            <img id="seal" src="/images/seal.jpg">
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td class="input_info" th:object="${docInfo}">
                                    <p class="sub_title">저장정보</p>
                                    <table class="sub_table">
                                        <colgroup>
                                            <col style="width:120px;" />
                                            <col style="width:330px;" />
                                        </colgroup>
                                        <tr>
                                            <th>진행상태</th>
                                            <td th:if="${docInfo.status_code.equals('0')}">
                                                <input type="text" class="disabled input_text" value="미승인" readOnly>
                                            </td>
                                            <td th:if="${docInfo.status_code.equals('1')}">
                                                <input type="text" class="disabled input_text" value="승인" readOnly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>문서번호</th>
                                            <td><input type="text" id="input_doc_no" class="disabled input_text" th:field="*{doc_no}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>사번</th>
                                            <td><input type="text" id="input_user_id" class="input_text" th:field="*{user_id}" readOnly>
                                                <input type="hidden" id="input_user_id_temp"></td>
                                        </tr>
                                        <tr>
                                            <th>주소</th>
                                            <td><input type="text" id="input_user_address" class="input_text" th:field="*{user_address}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>소속</th>
                                            <td><input type="text" id="input_department" class="input_text" th:field="*{department}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>직급</th>
                                            <td><input type="text" id="input_responsibilities_of_office" class="disabled input_text" th:field="*{responsibilities_of_office}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>성명</th>
                                            <td><input type="text" id="input_user_name" class="disabled input_text" th:field="*{user_name}" readOnly></td>
                                        </tr>
                                        <tr>
                                            <th>주민등록번호</th>
                                            <td>
                                                <input type="text" id="input_identification_no_front" class="input_text" style="width: 49%" th:field="*{identification_no_front}" readOnly>-
                                                <input type="password" id="input_identification_no_back" class="input_text" style="width: 49%" th:field="*{identification_no_back}" readOnly>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>입사일자</th>
                                            <td>
                                                <input type="text" id="input_start_year" name="join_ymd" class="disabled input_text" th:field="*{start_year}" readOnly/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>용도</th>
                                            <td>
                                                <input type="text" id="input_purpose" style="width:100%;" class="req-data input_text" th:field="*{purpose}" readOnly/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="multi_td">비고</th>
                                            <td class="multi_td">
                                                <textarea id="input_note" name="note" class="sub_textarea input_text" rows="8" cols="0" th:field="*{note}" readOnly></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                    <span id="cancel" class="btn_cancel">뒤로가기</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    window.jsPDF = window.jspdf.jsPDF;

    getId('#cancel').onclick = () => {
        history.back();
    }

    if(!(getValue('#doc_no') == '') || !(getValue('#doc_no') == null)) {
        getId('#input_identification_no_back').value = "0000000";
    }

    getId("#real_doc_no").value = getValue("#input_doc_no");
    getId("#prev_user_id").innerText = getValue("#input_user_id");
    getId("#prev_user_address").innerText = getValue("#input_user_address");
    getId("#prev_department").innerText = getValue("#input_department");
    getId("#prev_responsibilities_of_office").innerText = getValue("#input_responsibilities_of_office");
    getId("#prev_user_name").innerText = getValue("#input_user_name");
    getId("#prev_identification_no").innerText = getValue("#input_identification_no_front") + '-*******';
    getId("#prev_start_year").innerText = setYYYYMMDD(getValue("#input_start_year"));
    getId("#prev_purpose").innerText = getValue("#input_purpose");
    getId("#prev_date_yyyymmdd").innerText = setYYYYMMDD(getToday());

    const savePDF = row => {
        if(confirm("PDF 파일로 저장 하시겠습니까?")) {
            fetch("/viewCertificate/" + row.name + "/save", {
                method: "PUT",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: {
                }
            }).then((response) => response.json()).then((data) => {
                //if(!response.ok)
                //  throw response;

                var doc = new jsPDF("p", "mm", "a4");
                doc.addFileToVFS("MyFont.ttf", myFont);
                doc.addFont("MyFont.ttf", "MyFont", "normal");
                doc.setFont("MyFont");
                doc.setFontSize(10);
                doc.text(30, 30, document.getElementById('prev_doc_no').innerText);
                doc.setFontSize(30);
                doc.text(105, 50, document.getElementById('prev_type').innerText, 'center');
                doc.autoTable({
                    startY: 65,
                    margin: { left: 30, right: 30 },
                    tableWidth: 150,
                    theme: 'grid',
                    styles: { font: "MyFont", fontStyle: "normal", cellPadding: 3 },
                    body: [ bn
                        [
                            {content: '사　　　　번', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_user_id') }
                        ],
                        [
                            {content: '주　　　　소', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_user_address') }
                        ],
                        [
                            {content: '소　　　　속', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_department') }
                        ],
                        [
                            {content: '직　　　　책', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_responsibilities_of_office') }
                        ],
                        [
                            {content: '성　　　　명', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_user_name') }
                        ],
                        [
                            {content: '주민등록번호', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_identification_no').substring(0, 7) + data.decryptNum}
                        ],
                        [
                            {content: '입 사　 일 자', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_start_year') }
                        ],
                        [
                            {content: '용　　　　도', styles: { halign: "center", cellWidth: 28} },
                            {content: getInnerText('#prev_purpose') }
                        ],
                        [
                            {content: '\n\n\n\n\n상기인은 당사의 재직자임을 증명함.\n\n\n\n\n' + getInnerText('#prev_date_yyyymmdd') + '\n\n\n\n\n\n\n\n\n\n\n',
                                colSpan: 2,
                                styles: { halign: "center", fontSize: 12 }
                            }
                        ]
                    ],
                    bodyStyles: {
                        //lineWidth: 0.5,
                        lineColor: 0
                    }
                });
                doc.setFontSize(20);
                doc.text(105, 230, getInnerText('#prev_company_signature1'), 'center');
                doc.text(105, 240, getInnerText('#prev_company_signature2'), 'center');
                doc.addImage(getId('#seal'), 'JPEG', 145, 220);
                doc.setFontSize(10);
                doc.setTextColor("#808080");
                doc.text(105, 290, getValue('#apply_date'), 'center');
                doc.save(getValue('#input_doc_no') + ' 재직증명서.pdf');

                fetch("/reEncrypt/"+row.name, {
                    method: "PUT",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: {
                    }
                }).then((response) => {
                    if(!response.ok)
                        throw response;
                    window.location.href="/viewCertificate/" + row.name;
                }).catch(e => {
                    console.log("에러 발생");
                });
            }).catch(e => {
                console.log("에러 발생");
            });
        } else {
            return;
        }
    }
</script>
</body>
</html>